<div class="container">
    <div class="row">
        <div class="left col-sm-4">
            <div class="img">
                <img class="image">
                <!--img src="../../images/user-img.jpg" class="image" alt="User image" style="width:100%"-->
            </div>
        </div>
        <div class="rigth col-sm-8">
            <div class="name">
                <a>Name Surname</a>
            </div>
        </div>
        <!--app-carousel [object]="clickedObject" *ngIf="isShowCarusel" (onChanged)="onChanged()"></app-carousel-->
    </div>
</div>