.carousel-indicators .active {
    background-color: black;
    width: 15px;
    height: 15px;
}

.carousel-indicators li{
    width: 12px;
    height: 12px;
    border: solid 1px #000;
}
.item {
    margin:auto;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.carousel-inner>.item>img {
    height:calc(100vh - 40px - 64px);
    width: 100%;
;
}