<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a href="../" class="navbar-brand"><strong>PROJECT</strong></a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav navbar-left nav-list">
                <li> <a class="nav-items" routerLink="home" routerLinkActive="active"><i class="icon glyphicon glyphicon-home"></i>&nbsp;&nbsp;Home</a></li>
            </ul>
            <ul class="nav navbar-nav" data-toggle="collapse" data-target=".navbar-collapse.in">
                <li> <a class="nav-items" routerLink="message" routerLinkActive="active"><i class="icon glyphicon glyphicon-envelope"></i>&nbsp;&nbsp;Messages</a></li>
                <li> <a class="nav-items" routerLink="notofication" routerLinkActive="active"><i class="icon glyphicon glyphicon-bell"></i>&nbsp;&nbsp;Notifications</a></li>
                <li> <a class="nav-items" routerLink="friend" routerLinkActive="active"><i class="icon glyphicon glyphicon-user"></i>&nbsp;&nbsp;Friends</a></li>
                <li> <a class="nav-items" routerLink="guest" routerLinkActive="active"><i class="icon glyphicon glyphicon-eye-open"></i>&nbsp;&nbsp;Guests</a></li>
                <li> <a class="nav-items" routerLink="feedback" routerLinkActive="active"><i class="icon glyphicon glyphicon-thumbs-up"></i>&nbsp;&nbsp;FeedBack</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right nav-list">
                <li [routerLinkActive]="['active']" id="login"> <a routerLink="login" id="log"><i class="icon glyphicon glyphicon-log-in"></i>&nbsp;&nbsp; Log In</a></li>
            </ul>
        </div>
    </div>
</div>